<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <% if (loggedIn == 1) { %>
        <div>
          <a href="/account/profile" title="See profile details">Profile</a>
          <a href="/account/logout" title="Click to log out">Logout</a>
        </div>
      <% } else if (loggedIn == undefined) { %>
          
          <a href="/account/login" title="Click to log in">My Account</a>
      <% } else { %>
          <a href="/account/login" title="Click to log in">My Account</a>
      <% } %>
    </div>
</header>