@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto&display=swap");
/****** Change Box Model **************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  width: 90%;
  background-color: white;
  margin: 30px auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  background-color: white;
  font-size: 1.5rem;
  height: 60px;
  color: black;
}

.siteName a,
#tools a {
  color: black;
  text-decoration: none;
}

.siteName {
  align-self: center;
}

#tools {
  justify-self: end;
  align-self: center;
  font-size: 1rem;
}

.notice {
  list-style: none;
  padding: 10px;
  background-color: #77f8f8;
  font-style: italic;
  border-radius: 10px;
}

nav {
  background-color: black;
  padding: 3px;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
#navList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
#navList li {
  width: 100%;
  text-align: center;
  margin: 0;
}

#navList li a {
  color: white;
  background-color: black;
  width: 100%;
  display: block;
  padding: 10px 0;
}
h1 {
  font-size: 1.2rem;
  margin: 25px 0 0 40px;
}
#hero-ad {
  width: 100%;
  position: relative;
  display: block;
  margin: 35px 0;
}
#hero-ad img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
#label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  margin: 0 0 0 20px;
  text-align: left;
  box-sizing: border-box;
}
#label h2,
#label ul,
#label button {
  margin: 0;
  padding: 0;
  list-style: none;
}
#label h2 {
  font-size: 1rem;
}
#label li,
#label button {
  font-size: 0.75rem;
}
#label button {
  width: 80%;
  padding: 5px 0;
  background-color: #00ffff;
  font-family: "Croissant One", cursive;
  display: block;
  margin: 0 auto;
}

#label ul li {
  margin: 10px 0;
}

#info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
h2 {
  font-size: 1.2rem;
}
#upgradeItems {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#upgradeItems div a {
  display: block;
  color: black;
  text-align: center;
  margin: 0 auto;
  text-decoration: underline;
}
.upgrade-image-container img {
  display: block;
  margin: 0 auto;
  height: 120px;
  padding: 10px 0;
}
.upgrade-image-container {
  width: 100%;
  background-color: #00ffff;
}

/* Reviews section */
#reviews {
  grid-row: 1;
}
#reviews li {
  margin: 15px 0;
  font-size: 1rem;
}

/* Classification page */

#inv-display {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

.inv-classifications {
  list-style: none;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px 30px;
}

.inv-classifications a{
  color: black;
}

.inv-classifications img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

/* Vehicle details page */

#vehicle-display {
  display: grid;
  grid-template-columns: 1fr;
}

#vehicle-img-div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

#vehicle-details ul li {
  list-style: none;
}

/* Login Form page */

.user-form {
  width: 80%;
  display: block;
  margin: 20px auto 200px;
  padding: 50px;
  background-color: #cfcfcf;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.user-form label {
  font-size: 1.5rem;
}

.user-form input {
  height: 30px;
  width: 100%;
  margin: 5px 0 20px;
  font-size: 1.4rem;
}
#login-h1 {
  display: block;
  margin: 50px auto 15px;
  text-align: center;
  font-size: 2rem;
}
.user-form button {
  width: 60%;
  height: 40px;
  margin: 20px auto 0;
  font-size: 1.2rem;
  background-color: #00ffff;
  color: black;
}

/* Registration form page */

#registration-h1 {
  margin: 0 0 40px;
  font-size: 1.5rem;
}

#register-form {
  text-align: left;
  margin: 80px auto 150px;
}

#register-form input {
  font-size: 1rem;
}
#register-button-div {
  text-align: center;
}

/* Input validation */

input:not(:placeholder-shown):invalid, textarea:not(:placeholder-shown):invalid {
  border: 3px solid rgb(249, 102, 102);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
 }

input:required:valid, textarea:required:valid {
  background-color: white
}

/* Vehicle management page */

#manage-links {
  font-size: 1.3rem;
  list-style: none;
  background-color: #cfcfcf;
}
#manage-links li {
  padding: 10px;
}
#add-classification-btn {
  width: auto;
}

/* Add Inventory form page */
#classification_id {
  font-size: 1rem;
  margin: 0 0 30px;
}

#classification_id option {
  font-size: 1rem;
}
#add-inventory-form {
  text-align: left;
}
#add-inventory-form input, #add-inventory-form textarea {
  margin-bottom: 20px;
}
#add-inventory-form input, #add-inventory-form textarea, #add-inventory-form label {
  font-size: 1rem;
  display: block;
}
#add-inventory-form textarea {
  width: 100%;
  max-width: 100%;
  caret-color: black;
}
#add-inventory-btn {
  width: auto;
  height: 40px;
}


/* Error Page */

#errorImg {
  width: 80%;
  max-width: 600px;
}

/* Large view css rules */

@media (min-width: 650px) {
  html {
    background-image: url("/images/site/checkerboard.jpg");
  }
  h1,
  h2 {
    font-size: 2rem;
  }
  /* Header */
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    background-color: white;
    font-size: 2.5rem;
    height: 70px;
    color: black;
  }
  .siteName a,
  #tools a {
    color: black;
    font-size: 1.8rem;
  }

  .siteName {
    padding: 10px 20px;
    align-self: center;
  }

  #tools {
    padding: 10px 20px;
    justify-self: end;
    align-self: center;
    font-size: 1.2rem;
  }

  /* Navigation */
  nav {
    background-color: black;
    padding: 3px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  #navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #navList li {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #navList a:hover {
    background-color: white;
    color: black;
    width: 100%;
    display: block;
  }

  #navList li a {
    color: white;
    background-color: black;
    width: 100%;
    display: block;
    padding: 10px 0;
  }

  /* Body */
  body {
    width: 80%;
    background-color: white;
    margin: 30px auto;
    padding: 0 30px;
    border: 5px solid #00ffff;
  }

  /* Hero ad */
  #hero-ad {
    width: 100%;
    position: relative;
    display: block;
    margin: 30px 0;
  }
  #hero-ad img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  #label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    margin: 0 0 0 100px;
    text-align: left;
    box-sizing: border-box;
  }
  #label h2,
  #label ul,
  #label button {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #label h2 {
    font-size: 1.8rem;
  }
  #label li,
  #label button {
    font-size: 1.5rem;
  }
  #label button {
    width: 90%;
    padding: 5px 0;
    background-color: #00ffff;
    font-family: "Croissant One", cursive;
    display: block;
    margin: 0 auto;
  }

  #label ul li {
    margin: 10px 0;
  }

  /* Info section */

  #info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  #upgradeItems {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #upgradeItems div a {
    display: block;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
  }
  .upgrade-image-container img {
    display: block;
    margin: 0 auto;
    height: 120px;
    padding: 10px 0;
  }
  .upgrade-image-container {
    width: 100%;
    background-color: #00ffff;
  }

  /* Reviews section */
  #reviews {
    grid-column: 2;
  }
  #reviews li {
    margin: 15px 0;
    font-size: 1.5rem;
  }

  /* Classifications page */

  #inv-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .inv-classifications:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Vehicle details page */
  
  #vehicle-display {
    grid-template-columns: 1fr 1fr;
  }

  /* Login Form page */
  
  .user-form {
    max-width: 500px;
    text-align: left;
    
  }
  #login-button-div {
    text-align: center;
  }
  .user-form button {
    width: 150px;
  }

  /* Register form page */

  #registration-h1 {
    font-size: 2rem;
  }

  /* Add inventory form */
  #classification_id {
    font-size: 1.3rem;
  }
  
  #classification_id option {
    font-size: 1.2rem;
  }
  #add-inventory-form input, #add-inventory-form textarea, #add-inventory-form label {
    font-size: 1.2rem;
  }
  #add-inventory-form label {
    width: 100%;
  }
  #add-inventory-btn {
    height: 40px;
  }
}
