<% if (title) { %>
<h1 id="errorTitle"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<p id="errorMessage"><%- message %></p>
<p>Click <a href="#">*here*</a> to go back to the light side.</p>